<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mongoose Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="client/stylesheets/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<style type = 'text/css'>
		.container{
			width: 970px;
		}
		.mongeese{
			width: 100%;
			text-align: center;
		}
		.well{
			width: 20%;
			display: inline-block;
		}
			.monName{
				border-bottom: 1px dotted black;
			}

			.killer{
				display: inline-block;
			}
	</style>
</head>
<body>
	<div class="container">
<!-- NAVBAR STARTS HERE -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Home</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav">
		        <li><a href="/mongooses/new">Add a Mongoose</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="http://en.wikipedia.org/wiki/Mongoose">The Majestic Mongoose</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
<!-- NAVBAR ENDS HERE -->
	<h2>Welcome to Mongoose Control</h2>
<!-- START DISPLAY ALL THE MONGOOSE HERE(OR IS THAT MONGEESE?......MAYBE MONGEESES?) -->
<div class="mongeese">
				<% for(mongoose in mongeeses)
				{ %><div class="well">
						<h5 class = "monName"><%= mongeeses[mongoose].name %></h5>	
						<p>Birthdate: <%= mongeeses[mongoose].birthDate %></p>	
						<p>Favourite Colour: <%= mongeeses[mongoose].favouriteColour %></p>	
						<p>Favourite Number: <%= mongeeses[mongoose].favouriteNumber %></p>
						<a href="/mongooses/<%=mongeeses[mongoose]._id%>/edit" class="btn btn-info">Edit</a>
						<form class = "killer" action="/mongooses/<%=mongeeses[mongoose]._id%>/destroy" method = "post">
						<button type = "submit" class="btn btn-danger">Kill</a>
						</form>
					</div>
			<%	} %>
</div>
<!-- END DISPLAY ALL THE MONGOOSE HERE(OR IS THAT MONGEESE?......MAYBE MONGEESES?) -->
	</div>
</body>
</html>